body {
  /* background-color: blue; */
  background-image: url('./giphy.gif');
  font-family: 'Patua One', cursive;
}
.form-group {
  display: inline-block;
  padding: 5px;

}

.col-md-2 {
  /* display: none; */
  padding: 10px;
  margin: 30px;
  border-color: red;
  border-style: solid;
  border-width: thin;
  color: white;
}

.col-md-2 h3{
  /* color: white; */
  text-align: center;
  text-decoration: underline;
}

.col-md-2 h4{
  /* color: white; */
  text-align: left;
}

button {
  float: right;
}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


.jumbotron {
  background-color: transparent;
}
